/**
  * Created By GengHH On 2020/12/03
  * 为适应各种种尺寸屏幕，设置通用的一些媒体查询
  */

@import './variables.scss';

/* At the top level of your code */
@media screen and (max-width: 992px) {
  body {
    .el-menu-item,
    .el-submenu__title {
      padding: 0 10px;
    }
  }
}

@media screen and (max-width: 1200px) {
  body {
    //background-color: $test-body-color2;
    .el-menu-item,
    .el-submenu__title {
      padding: 0 15px;
    }
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-color: $test-body-color1;
  }
}
